html(ng-app='nitApp')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor.css')
    link(rel='stylesheet', href='/app.css')

  body(ng-controller='AdminController', ng-init='findAll(); createArticle();')
    #top-bar
      div.middle
        p Velkommen til Trondheim!

    #container.middle
      header
        h1(style='color: #fff; margin-top: 50px') #{title}

      section
        .row
          .col-xs-3.admin-article-sidebar
            .row
              ul#admin-article-list
                li.new-article-li(ng-click='createArticle()', ng-class='{"selected-article": selectedIndex==0}') Ny artikkel
                li.article-li(ng-repeat='article in articles',
                  ng-click='chooseArticle(article, $index + 1)',
                  ng-class='{"selected-article": selectedIndex==($index+1)}') {{article.title}}
            .row
              ul#admin-event-list
                li.new-event-li(ng-click='createEvent()', ng-class='{"selected-event": selectedIndex==articles.length+1}') Nytt arrangement
                li.event-li(ng-repeat='event in events',
                  ng-click='chooseArticle(event, $index + articles.length + 2)',
                  ng-class='{"selected-event": selectedIndex==($index + articles.length + 2)}') {{event.title}}

          .col-xs-9.admin-article-main

            form(name='articleForm', role='form')
              .form-group(ng-class='{"has-warning": articleForm.title.$invalid, "has-success": articleForm.title.$valid}')
                label(for='title') Tittel
                input.form-control#title(type='text', name='title', placeholder='Tittel',
                  value='{{article.title}}', ng-model='article.title', required)
              .form-group(ng-class='{"has-warning": articleForm.priority.$invalid, "has-success": articleForm.priority.$valid}')
                label(for='priority') Prioritet (bestemmer forsideposisjon, høyere betyr viktigere)
                select.form-control#priority(name='priority', ng-options='option for option in priorities',
                  ng-model='article.priority', required)
              .form-group(ng-class='{"has-warning": articleForm.image.$invalid, "has-success": articleForm.image.$valid}')
                label(for='image') Artikkelbilde
                .drop-area(ng-file-drop='setImage($files[0])') Dra bilder hit!
                span(ng-show='invalidImage') Ugyldig bilde! Er det under 10 MB?
                div(ng-show='article.image | exists')
                  span Valgt bilde: {{article.image.name}}
                  button.btn.btn-danger.btn-sm(type='button', ng-click='removeImage()')
                    i.fa.fa-trash-o    Slett
              .form-group(ng-class='{"has-warning": articleForm.description.$invalid, "has-success": articleForm.description.$valid}')
                label(for='description') Beskrivelse
                textarea.form-control#description(rows='2', name='description', placeholder='Beskrivelse',
                  ng-model='article.description' required)='{{article.description}}'
              .form-group(ng-class='{"has-warning": articleForm.description.$invalid, "has-success": articleForm.description.$valid}')
                label(for='body') Tekst
                div(text-angular, name='body', ng-model='article.body', required)

              div(ng-switch='article.event')
                div(ng-switch-when='true')
                  .form-group(ng-class='{"has-warning": articleForm.location.$invalid, "has-success": articleForm.location.$valid}')
                    label(for='body') Sted
                    input.form-control(type='text', name='location', placeholder='Sted',
                      ng-model='article.location', value='{{article.location}}', required)
                  .form-group
                    label Arrangementtype
                    .btn-group.btn-group-justified
                      a.btn.btn-success(type='button', ng-class='{"active": "#5cb85c" == article.color}',
                        ng-click='setColor("#5cb85c")') NTNU-arrangement
                      a.btn.btn-info(type='button', ng-class='{"active": "#5bc0de" == article.color}'
                        ng-click='setColor("#5bc0de")') Linjearrangement
                      a.btn.btn-warning(type='button', ng-class='{"active": "#f0ad4e" == article.color}'
                        ng-click='setColor("#f0ad4e")') Felles
                      a.btn.btn-danger.active(type='button', ng-class='{"active": "#d9534f" == article.color}'
                        ng-click='setColor("#d9534f")') Annet
                  .row
                    .col-md-6
                      label Dato
                    .col-md-6
                      label Tidspunkt
                  .row
                    .col-md-6
                      .form-group(ng-class='{"has-warning": articleForm.startDate.$invalid, "has-success": articleForm.startDate.$valid}')
                        .input-group
                          input.form-control(name='startDate', type='text', is-open='$parent.opened1', datepicker-popup='dd/MM/yyyy', ng-model='article.start', min='today', required)
                          span.input-group-btn
                            button.btn.btn-default(type='button', ng-click='open($event, "opened1")') Startdato
                    .col-md-6
                      .form-group(ng-class='{"has-warning": articleForm.startTime.$invalid, "has-error": articleForm.startTime.$error.pattern, "has-success": !articleForm.startTime.$error.pattern && articleForm.startTime.$valid}')
                        .input-group
                          input.form-control(name='startTime', ng-model='article.startTime',
                            ng-pattern='/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/' placeholder='Starttidspunkt (hh:mm)',
                            ng-class='{"has-error": articleForm.startTime.$error.pattern}', required)
                          span.input-group-addon Starttidspunkt
                  .row
                    .col-md-6
                      .form-group(ng-class='{"has-warning": articleForm.endDate.$invalid, "has-success": articleForm.endDate.$valid}')
                        .input-group
                          input.form-control(name='endDate', type='text', is-open='$parent.opened2', datepicker-popup='dd/MM/yyyy', ng-model='article.end', min='today', required)
                          span.input-group-btn
                            button.btn.btn-default(type='button', ng-click='open($event, "opened2")') Sluttdato
                    .col-md-6
                      .form-group(ng-class='{"has-warning": articleForm.endTime.$invalid, "has-error": articleForm.endTime.$error.pattern, "has-success": !articleForm.endTime.$error.pattern && articleForm.endTime.$valid}')
                        .input-group
                          input.form-control(name='endTime', ng-model='article.endTime',
                            ng-pattern='/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/' placeholder='Sluttidspunkt (hh:mm)',
                            required)
                          span.input-group-addon Sluttidspunkt&nbsp;&nbsp;

              .form-group(ng-switch='articleForm.$valid')
                div(ng-switch-when='true')
                  button.btn.btn-primary.wide(ng-click='saveArticle(article)', ng-hide='article._id') Send
                  .btn-group.btn-group-justified(ng-hide='!article._id')
                    a.btn.btn-primary(ng-click='saveArticle(article)') Send
                    a.btn.btn-danger(ng-click='destroyArticle(article)') Slett
                div(ng-switch-default)
                  button.btn.btn-primary.disabled.wide(ng-click='saveArticle(article)', ng-hide='article._id') Fyll inn all feltene!
                  .btn-group.btn-group-justified(ng-hide='!article._id')
                    a.btn.btn-primary.disabled(ng-click='saveArticle(article)') Fyll inn alle feltene!
                    a.btn.btn-danger(ng-click='destroyArticle(article)') Slett
      footer
        p Ny i Trondheim drives av <a href="">Abakus.</a> Ta kontakt på <a href="">hei@nyitrondheim.no</a>

    script.
      union = !{JSON.stringify(union)}

    script(src='/vendor.js')
    script(src='/rangy-1.3/rangy-core.js')
    script(src='/app.js')
