html(ng-app='nitApp')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/app.css')

  body(ng-controller='AdminController', ng-init='testt="#{title}"')
    #top-bar
      div
        p Velkommen til Trondheim!

    #container
      header
        h1(style='color: #fff; margin-top: 50px') #{title}

      section
        ul#admin-article-list
          li#new-article
            a(href='', ng-click='createArticle()') Ny artikkel
          li(ng-repeat='article in articles')
            a(href='', ng-click='chooseArticle(article)') {{article.title}}

        form(method='post', action=action, role='form')

          .form-group
            label(for='title') Tittel
            input.form-control#title(type='text', name='title', placeholder='Title',
                                     value='{{article.title}}', ng-model='article.title' required)
          .form-group
            label(for='priority') Prioritet
            select.form-control#priority(name='priority', ng-options='option for option in priorities',
                                         ng-model='article.priority' required)
          .form-group
            label(for='description') Beskrivelse
            textarea.form-control#description(rows='2', name='description', placeholder='Description',
                                              ng-model='article.description' required)='{{article.description}}'
          .form-group
            label(for='body') Tekst
            textarea.form-control#text-body(rows='5', name='body', placeholder='Body',
                                            ng-model='article.body' required)='{{article.body}}'

          button.btn.btn-primary(ng-click='saveArticle(article)') Send
          button.btn.btn-danger(ng-click='destroyArticle(article)', ng-hide='!article._id') Delete

    script.
      union = !{JSON.stringify(union)}
    script(src='/vendor.js')
    script(src='/app.js')
