html(ng-app='nitApp')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

  body(ng-controller='AdminController')
    #top-bar
      div
        p Velkommen til Trondheim!
    
    #container
      header
        h1(style="color: #fff; margin-top: 50px") Test

      section
        ul#admin-article-list
          li#new-article
            a(href='', ng-click='createNewArticle()') Ny artikkel
          li(ng-repeat='article in articles')
            a(href='', ng-click='chooseArticle(article)') {{article.title}}

        form(method='post', action=action, role='form')

          .form-group
            label(for='title') Tittel
            input.form-control#title(type='text', name='title', placeholder='Title',
                                     value='{{chosenArticle.title}}', ng-model='chosenArticle.title' required)
          .form-group
            label(for='priority') Prioritet
            select.form-control#priority(name='priority', ng-options='option for option in priorities', 
                                         ng-model='chosenArticle.priority' required)
          .form-group
            label(for='description') Beskrivelse
            textarea.form-control#description(rows='2', name='description', placeholder='Description',
                                              ng-model='chosenArticle.description' required)='{{chosenArticle.description}}'
          .form-group
            label(for='body') Tekst
            textarea.form-control#text-body(rows='5', name='body', placeholder='Body',
                                            ng-model='chosenArticle.body' required)='{{chosenArticle.body}}'

          button.btn.btn-primary(ng-click='submitArticle()') Send
          button.btn.btn-danger(ng-click='deleteArticle()', ng-show='!newArticle') Delete

    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-local-storage/angular-local-storage.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-resource/angular-resource.min.js')
    script(src='/bower_components/angular-animate/angular-animate.min.js')
    script(src='/js/controllers.js')
    script(src='/js/services.js')
    script(src='/app.js')
